<!-- Блок пагинации -->
<div id="PaginationBlock" class="row collapse">
	@{
		var count = 0;
	}

	<ul class="pagination">
		@for (int i = 1; i < ViewBag.Pagination + 1; i++)
  {
			<li><a href="~/Home/@ViewBag.Section?skip=@count">@i</a></li>
	  count += 50;
  }
	</ul>
</div>

<!-- Скрипт пагинации -->
<script type="text/javascript">
	$.urlParam = function (name) {
		var results = new RegExp('[\\?&]' + name + '=([^&#]*)').exec(window.location.href);
		return results[1] || 0;
	}

	$(function ($) {

		var a = $('.pagination li a').filter(function () {
			var b = $(this).attr('href').toLowerCase();
			var c = window.location.pathname.toLowerCase() + "?skip=" + $.urlParam('skip');
			return b === c;
		});

		a.addClass('SpecialColor');
	});
</script>