<!-- Блок поиска -->
<div id="SearchBlock" class="row collapse">
	<div class="large-12 columns">
		@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @id = "form_get" }))
  {
			<input id="tags" name="name" type="text" placeholder="Название игры" />
  }
	</div>
</div>