<div class="panel SidePanel">
	<h5>ТОП запросов</h5>
	<ul class="sidemenu_items">

		@foreach (GetByNameLibrary.Domains.MetaEntry item in ViewBag.TopGames)
  {
	  String _name = String.Empty;

	  if (@item.Name.Length > 29)
	  {
		  _name = item.Name.Substring(0, 30) + "...";
	  }
	  else
	  {
		  _name = item.Name;
	  }
	  
			<li>
				<noindex>
					<a rel="nofollow" href="/Home/Search?name=@item.Name">@_name</a>
				</noindex>
			</li>
  }
	</ul>
</div>

<div class="panel SidePanel">
	<h5>Магазины</h5>
	<ul class="sidemenu_items">
		<li><noindex><a rel="nofollow" target="_blank" href="http://shop.1csc.ru/">1С СофтКлаб</a></noindex></li>
		<li><noindex><a rel="nofollow" target="_blank" href="http://direct.cod.ru/">Direct.COD</a></noindex></li>
		<li><noindex><a rel="nofollow" target="_blank" href="http://gama-gama.ru/">Gama-gama</a></noindex></li>
		<li><noindex><a rel="nofollow" target="_blank" href="http://gamazavr.ru/">Gamazavr</a></noindex></li>
		<li><noindex><a rel="nofollow" target="_blank" href="http://igromagaz.ru/">Igromagaz</a></noindex></li>
		<li><noindex><a rel="nofollow" target="_blank" href="http://roxen.ru/">Roxen</a></noindex></li>
		<li><noindex><a rel="nofollow" target="_blank" href="http://store.origin.com/">Origin</a></noindex></li>
		<li><noindex><a rel="nofollow" target="_blank" href="http://store.steampowered.com/">Steam</a></noindex></li>
		<li><noindex><a rel="nofollow" target="_blank" href="http://yuplay.ru/">Yuplay</a></noindex></li>
	</ul>
</div>

<div class="panel SidePanel">
	<h5>Base</h5>
	<ul class="sidemenu_items">
		<li><span class="SpecialColor">Full update:</span> <span>@ViewBag.UploadTime</span></li>
		<li><span class="SpecialColor">Elements:</span> <span>@ViewBag.UploadCount</span></li>
	</ul>
</div>