<div class="panel SidePanel">
	<h4>Популярные</h4>
	<ul class="sidemenu_items">
		<li><a href="/Home/Search?name=BioShock+Infinite">BioShock Infinite</a></li>
		<li><a href="/Home/Search?name=Arma+3">Arma 3</a></li>
		<li><a href="/Home/Search?name=SimCity">SimCity</a></li>
		<li><a href="/Home/Search?name=Tomb+Raider">Tomb Raider</a></li>
		<li><a href="/Home/Search?name=Dead+space+3">Dead Space 3</a></li>
		<li><a href="/Home/Search?name=Resident+Evil+6">Resident Evil 6</a></li>
		<li><a href="/Home/Search?name=Metro+Last+Light">Metro: Last Light</a></li>
	</ul>
</div>

<div class="panel SidePanel">
	<h4>Магазины</h4>
	<ul class="sidemenu_items">
		<li><a href="http://shop.1csc.ru/">1С СофтКлаб</a></li>
		<li><a href="http://direct.cod.ru/">Direct.COD</a></li>
		<li><a href="http://gama-gama.ru/">Gama-gama</a></li>
		<li><a href="http://gamazavr.ru/">Gamazavr</a></li>
		<li><a href="http://igromagaz.ru/">Igromagaz</a></li>
		<li><a href="http://roxen.ru/">Roxen</a></li>
		<li><a href="http://store.origin.com/">Origin</a></li>
		<li><a href="http://store.steampowered.com/">Steam</a></li>
		<li><a href="http://yuplay.ru/">Yuplay</a></li>
	</ul>
</div>

<div class='pluso pluso-theme-black pluso-round'>
	<div class='pluso-more-container'>
		<a class='pluso-more' href=''></a>
		<ul class='pluso-counter-container'>
			<li></li>
			<li class='pluso-counter'></li>
			<li></li>
		</ul>
	</div>
	<a class='pluso-facebook'></a><a class='pluso-vkontakte'></a>
</div>
<script type='text/javascript'>if (!window.pluso) { pluso = { version: '0.9.2', url: 'http://share.pluso.ru/' }; h = document.getElementsByTagName('head')[0]; l = document.createElement('link'); l.href = pluso.url + 'pluso.css'; l.type = 'text/css'; l.rel = 'stylesheet'; s = document.createElement('script'); s.charset = 'UTF-8'; s.src = pluso.url + 'pluso.js'; h.appendChild(l); h.appendChild(s) }</script>
